.card-box {
    width: 200px; /* Set a fixed width */
    height: 120px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .card-box {
        width: 100%; /* Make the card boxes full width */
        height: auto; /* Adjust the height automatically */
        gap: 2px;
    }

    .grid {
        grid-template-columns: 1fr; /* Make the grid single column */
    }

    .flex {
        flex-direction: column; /* Stack flex items vertically */
    }

    .hero {
        padding: 20px; /* Add padding to the hero section */
    }

    .form-control {
        width: 100%; /* Make form controls full width */
    }

    .btn {
        width: 100%; /* Make buttons full width */
    }
}
